<!DOCTYPE html>
<html>
<head>
    <title>Add New Part</title>
</head>

<body style="font-family:Arial; background:#eef2f7; padding:40px;">

<div style="width:700px; margin:auto; background:white; padding:30px; border-radius:15px;">

    <h1 style="text-align:center; color:#003366;">Add New Part</h1>

    <form method="POST">

        <input name="sr_no" placeholder="Sr No" required><br><br>
        <input name="part_no" placeholder="Part No" required><br><br>
        <input name="rev_date" placeholder="Rev Date"><br><br>
        <input name="application" placeholder="Application"><br><br>
        <input name="total_length" placeholder="Total Length"><br><br>
        <input name="plating_length" placeholder="Plating Length"><br><br>
        <input name="chrome_before" placeholder="Chrome Before"><br><br>
        <input name="chrome_after" placeholder="Chrome After"><br><br>
        <input name="nickel" placeholder="Nickel"><br><br>
        <input name="piston_end" placeholder="Piston End"><br><br>
        <input name="plant" placeholder="Plant"><br><br>
        <input name="identification" placeholder="Identification"><br><br>

        <button type="submit">Save Part</button>
        <a href="/" style="margin-left:20px;">Back</a>

    </form>

</div>

</body>
</html>