<h1>Edit Part</h1>

<form method="POST">

<input name="rev_date" value="{{ row[2] }}"><br><br>

<input name="application" value="{{ row[3] }}"><br><br>

<input name="total_length" value="{{ row[4] }}"><br><br>

<input name="plating_length" value="{{ row[5] }}"><br><br>

<input name="chrome_before" value="{{ row[6] }}"><br><br>

<input name="chrome_after" value="{{ row[7] }}"><br><br>

<input name="nickel" value="{{ row[8] }}"><br><br>

<input name="piston_end" value="{{ row[9] }}"><br><br>

<input name="plant" value="{{ row[10] }}"><br><br>

<input name="identification" value="{{ row[11] }}"><br><br>

<button type="submit">Update Part</button>

</form>